cache
.vscode
*.egg-info
*.pyc
ext/dexinfo
ext/apktool.jar
ext/abc.exe
libsearch_app/tmp/
marple/central-lucene-index/
libsearch_app/libsearch/tests/samples/
libsearch_app/central-lucene-index/
